body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.header {
  background-image: url("/assets/images/header/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header .menu .navbar-brand {
  color: #fff;
  font-size: 30px;
}
.header .menu .navbar-brand span {
  color: #FF9409;
}
.header .menu .navbar {
  background-color: transparent !important;
  font-size: 20px;
}
.header .menu .navbar .navbar-nav a {
  color: #fff !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header .menu .navbar .navbar-nav a:hover {
  color: #FF9409 !important;
}
.header .hero .hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .hero .hero-content .hero-image {
  position: relative;
  width: 100%;
}
.header .hero .hero-content .hero-image img {
  position: absolute;
  top: -80px;
  right: 20%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .hero .hero-content .hero-text h1 {
  padding: 10px 0;
  font-size: 100px;
  position: relative;
  z-index: 2;
}
.header .hero .hero-content .hero-text p {
  letter-spacing: 5px;
  line-height: 1.9;
}
.header .hero .hero-content .hero-button {
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.header .hero .hero-content .hero-button:hover span {
  width: 100%;
}
.header .hero .hero-content .hero-button span {
  position: absolute;
  width: 0;
  height: 100%;
  background: #ff9409;
  border-radius: 2px;
  z-index: 1 !important;
  transition: width 3s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
}
.header .hero .hero-content .hero-button .btn-primary {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border-color: #FF9409;
  color: #fff;
  padding: 20px 34px;
  border-radius: 2px;
}

.about {
  padding: 100px 0;
}
.about .about-img {
  position: relative;
  width: 100%;
  height: 500px;
}
.about .about-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 58% !important;
  margin-bottom: 15px;
  margin: auto;
  box-shadow: 0 0 10px #222;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  animation: aboutanimation 3s ease-in-out infinite alternate;
  -webkit-animation: aboutanimation 3s ease-in-out infinite alternate;
}
@keyframes aboutanimation {
  from {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.about .about-info h2 {
  letter-spacing: 5px;
  line-height: 1.9;
  width: 92%;
  margin: auto;
}
.about .about-info p {
  letter-spacing: 5px;
  line-height: 2;
  font-size: 19px;
  font-weight: 700;
  color: #ccc;
  width: 92%;
  margin: auto;
}
.about .skills .slider-container .skills-container {
  border: 1px solid #222;
  width: 75% !important;
  margin: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.about .skills .slider-container .slider-item {
  position: relative;
  margin: auto;
  height: 100px;
  cursor: pointer;
}
.about .skills .slider-container .slider-item img {
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 10px;
}
.about .skills .slider-container .skill-name h6 {
  margin-top: 10px;
  letter-spacing: 3px;
  line-height: 1.9;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .header .menu .navbar {
    background-color: #222 !important;
    position: relative;
    z-index: 9999;
  }
  .header .menu .navbar .navbar-collapse {
    margin-top: 20px;
    margin-left: 3px;
  }
  .header .hero {
    height: auto;
  }
  .header .hero .hero-content {
    padding-top: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .header .hero .hero-content .hero-image {
    position: relative;
    width: 100%;
  }
  .header .hero .hero-content .hero-image img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin-bottom: 20px;
  }
  .header .hero .hero-content h1 {
    font-size: 30px !important;
    line-height: 1.3;
  }
  .header .hero .hero-content .hero-text p {
    display: none;
  }
  .about .skills .slider-container .skills-container {
    border: none;
    width: 100% !important;
  }
  .about .skills .slider-container .slider-item {
    height: 200px;
  }
  .about .skills .slider-container .slider-item img {
    padding: 5px;
  }
  .about .skills .slider-container .skill-name h6 {
    font-weight: bold;
  }
}/*# sourceMappingURL=globals.css.map */