.header {
  background-image: url("/assets/images/header/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  .menu {
    .navbar {
      .navbar-toggler-icon {
        border: 1px solid #fff !important;
      }
      background-color: transparent !important;
      font-size: 20px;

      .navbar-brand {
        color: #fff;
        font-size: 30px;
        span {
          color: $themeColor;
        }
      }
      .navbar-nav {
        .active {
          color: $themeColor !important;
        }
        a {
          color: #fff !important;
          @include transitions;

          &:hover {
            color: $themeColor !important;
          }
        }
      }
    }
  }

  .hero {
    .hero-content {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .hero-image {
        position: relative;
        width: 100%;
        img {
          position: absolute;
          top: -70px;
          right: 20%;
          z-index: 1;
          object-fit: cover;
        }
      }
      .hero-text {
        h1 {
          padding: 10px 0;
          font-size: 100px;
          position: relative;
          z-index: 2;
        }
        p {
          letter-spacing: 5px;
          line-height: 1.9;
        }
      }
      .hero-button {
        position: relative;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        &:hover {
          span {
            width: 100%;
          }
        }

        span {
          position: absolute;
          width: 0;
          height: 100%;
          background: #ff9409;
          border-radius: 2px;
          z-index: 1 !important;
          transition: width 3s ease-in-out;
          //أضفانتقالًالتأثيرالملء:;
          -webkit-transition: width 1s ease-in-out;
          -moz-transition: width 1s ease-in-out;
          -ms-transition: width 1s ease-in-out;
          -o-transition: width 1s ease-in-out;
        }

        .btn-primary {
          position: relative;
          z-index: 2;
          background-color: transparent;
          border-color: $themeColor;
          color: #fff;
          padding: 20px 34px;
          border-radius: 2px;
        }
      }
    }
  }
}
