body,
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, $themeColor, #222);
}

a{
  text-decoration: none;
  color: #fff !important;
}