// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  .header {
    .menu {
      .navbar {
        background-color: #222 !important;
        position: relative;
        z-index: 9999;
        .navbar-collapse {
          margin-top: 20px;
          margin-left: 3px;
        }
      }
    }

    .hero {
      height: auto;
      .hero-content {
        padding-top: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        .hero-image {
          position: relative;
          width: 100%;
          img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            margin-bottom: 20px;
          }
        }
        h1 {
          font-size: 30px !important;
          line-height: 1.3;
        }
        .hero-text {
          p {
            display: none;
          }
        }
      }
    }
  }

  .about {
    .skills {
      .slider-container {
        .skills-container {
          border: none;
          width: 100% !important;
        }
        .slider-item {
          height: 200px;

          img {
            padding: 5px;
          }
        }
        .skill-name {
          h6 {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
